#row {
    background-color: rgb(233, 252, 255);
    text-align: center;
    height: 4rem;
}

#edit {
    color:black
}

#delete {
    color: red;
}

#deleteButton {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: transparent;
    margin-left: 1.5rem;
}

#customerRow {
    margin-top: 0.5rem;
}

#orders {
    color: rgb(93, 173, 14);
}

#wishlists {
    color: rgb(218, 154, 37);
}