#card {
    margin-left: 25rem;
    width: 45%;
    height: 43rem;
    margin-top: 2rem;
}

#button {
    margin-top: 2rem;
    margin-left: 15.5rem;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #fff;
    background-color: #1ED760;
    height: 48px;
}

#button:hover {
    transform: scale(1.04);
    background-color: #21e065;
}

#pageName {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

.label {
    margin-bottom: 0.5rem;
    margin-left: 3rem;
}

.input {
    margin-bottom: 1rem;
    margin-left: 3rem;
    border-radius: 9px;
    box-shadow: 1px black;
}