#grid {
    display: flex;
    flex-direction: row;
}

#searchBar {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    background-color: #f2f2f2;
    text-indent: 10px;
}

#searchButton {
    border: 1px solid black;
    background-color: #c4caeb;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    margin-left: 0.5rem;
}

#searchButton:hover {
    background-color: #9baaf4;
}