.grid {
    margin-top: 9rem;
    margin-bottom: 9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#loading {
    margin-left: 42rem;
    margin-top: 17rem;
}