.grid {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-gap: 10px;;
    margin-top: 15rem;
}

.item {
    margin-left: 20rem;
    width: 21rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.card {
    background-color: whitesmoke;
    width: 21rem;
    height: 20rem;
}

#profit {
    text-align: center;
    font-size: 5rem;
    margin-top: 7.5rem;
}

#loading {
    margin-left: 42%;
    margin-top: 15%;
    font-size: 20rem;
}