#card {
    width: 20rem;
    height: 20rem;
}

#grid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    flex-basis: 33.33%;
    align-items: center;
}

#image {
    width: 2rem;
    height: 2rem;
}