#table {
  margin-top: 1rem;
  margin-bottom: 15rem;
  margin-left: 8%;
  width: 80rem;
  text-align: center;
}

#tableHead {
  background-color: #576298;
  color: white;
  height: 3rem;
  width: 28rem;
}

.tableRow {
  width: 35rem;
}

#optionsRow {
  width: 55rem;
}

#pagination {
  position: absolute;
  bottom: 0;
  margin-bottom: 7%;
  margin-left: 47.2%;
  justify-content: center;
}

.grid {
  display: flex;
  flex-direction: row;
}

.fieldName {
  width: 7rem;
  margin-left: 3.8rem;
}

#buttonSort {
  background: none;
  border: none;
  margin-left: 0.5rem;
}

#loading {
  margin-left: 42%;
  margin-top: 15%;
  font-size: 20rem;
}

#optionsGrid {
  margin-top: 9rem;
  display: flex;
  flex-direction: row;
}

#circleButton {
  border: 1px solid black;
  background-color: #e6e9ff;
  margin-left: 9rem;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}

#circleButton:hover {
  background-color: #d2d8f7;
}

#searchBar {
  margin-left: 58.5rem;
  margin-top: 3rem;
}

#noAddresses {
  margin-left: 36.5%;
  margin-top: 21%;
  font-size: 4rem;
  font-family: Technology;
}

#noAddressesButton {
  margin-left: 47%;
  margin-top: 0.5rem;
}
