#card {
    margin-left: 25rem;
    width: 45%;
    height: 27rem;
    margin-top: 8rem;
}

.label {
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.input {
    margin-left: 10.5rem;
    width: 20rem;
    box-shadow: 1px black;
}


#header {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: xx-large;
    font-family: Technology;
}

#button {
    text-decoration: none;
    margin-left: 15.5rem;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 5px 5px;
    color: #fff;
    background-color: #1ED760;
    height: 48px;
}

#button:hover {
    transform: scale(1.04);
    background-color: #21e065;
}