#delete {
  color: red;
}

#deleteButton {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: transparent;
  margin-left: 1.5rem;
}

#row {
  background-color: rgb(233, 252, 255);
}
