#card {
    margin-left: 11rem;
    margin-bottom: 3rem;
    width: 19rem;
    height: 17.5rem;
}

#footer {
    background-color: #92a1eb;
    font-family: Technology;
    text-align: center;
}

#image {
    width: 18.9rem;
    height: 15rem;
}