#welcome {
    text-align: center;
    margin-top: 21%;
    font-size: 4rem;
    font-family: Technology;
}

.grid {
    margin-top: 9rem;
    margin-bottom: 9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
