#header {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: xx-large;
    font-family: Technology;
}

#card {
    margin-left: 15rem;
    width: 70rem;
    height: 42rem;
    margin-top: 2.5rem;
}

#left {
    width: 50%;
    height: 100px;
    float: left;
}

#right {
    margin-left: 50%; 
    height: 100px;
}

.grid {
    display: flex;
    flex-direction: row;
}

.item {
    margin-top: 2rem;
    margin-left: 1.5rem;
}

.label {
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 18rem;
}

#categoryLabel {
    margin-left: 7rem;
}

#categoryInput {
    margin-left: 7rem;
}

#item_list {
    margin-top: 1.5rem;
    background-color: antiquewhite;
    height: 20rem;
    overflow-y: scroll;
}

#circleButton {
    margin-top: 1.8rem;
    border: 1px solid black;
    background-color: #c4caeb;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

#circleButton:hover {
    background-color: #9baaf4;
}

#button {
    text-decoration: none;
    margin-left: 29rem;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 5px 5px;
    color: #fff;
    background-color: #1ED760;
    height: 48px;
}

#button:hover {
    transform: scale(1.04);
    background-color: #21e065;
}