#card {
  height: 10rem;
  width: 78rem;
  margin-top: 2.5rem;
  margin-left: 1rem;
  margin-bottom: 2.5rem;
  border-radius: 10px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}
